.main {
  background: white;
  height: 80vh;
  overflow: hidden;
  border-radius: 10px;
  margin: 50px 120px;
  padding: 15px;
  opacity: .7;
}

.options {
  display: flex;
  height: 400px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.option {
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  width: 40%;
  height: 100px;
}

.select{
  box-shadow: 0 4px 30px rgb(0, 255, 13);
}

@media screen and (max-width: 768px) {
  .main {
    margin: 50px;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin: 30px 10px;
    /* height: auto; */
  }
}